<!DOCTYPE html>
<html>
<head>
	<title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	</title>
</head>

<body style="background-image:url(static/pl.jpeg);">
	<header style="text-align: center; margin-top: 20px;"><h1 style="font-size: 80px;">survey result</h1></header>
	<div>
		<p style="text-align: center;">your name is: {{name}}</p>
		<p style="text-align: center;">your favioute LANGUAGE is:{{name2}}</p>
		<p style="text-align: center;">your oponion about is:{{comment}}</p>
		<p style="text-align: center;">your expirence on it:{{check}}</p>
		<p style="text-align: center;">do you agree to publish:{{agree}}</p>
	</div>
</body>
</html>