<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    

    <title>ADD_A_BOOK</title>
</head>
<body>
    <h2>Add a Book</h2>
    <form action="/addbook" method="POST">
        {%csrf_token%}
        <label for="title">Title</label><br>
        <input type="text" name="title" > <br>
        <label for="descripition">Descripition</label><br>
        <textarea name="descripition" id="descripition" cols="30" rows="10"></textarea><br> <br>
        <input type="submit" value="Add">
    </form>
    <br>
    <table class="table">
        <thead class="table-dark">
          <td>ID</td>
          <td>Title</td>
          <td>ACTION</td>
        </thead>
        {%for i in bo%}

        <tbody>
            <td>{{i.id}}</td>
            <td>{{i.title}}</td>
            <td><a href="/books/{{i.id}}">view</a></td>
        </tbody>
        {%endfor%}

      </table>
 
</body>
</html>
