<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a New Show</h1>
    <form action="/addshow" method="POST">
        {% csrf_token %}
        <label for="title">title</label><br>
        <input type="text" name="name"><br>
        <label for="network">network</label><br>
        <input type="text" name="netw"><br>
        <label for="title">Release Date</label><br>
        <input type="date" name="relea"><br>
        <label for="title">description</label><br>
        <textarea name="desc" cols="40" rows="4"></textarea><br>
        <input type="submit" value="create">

    </form>
</body>
</html>