<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>edit show {{sh.id}}</h1>
    <form action="/update/{{sh.id}}" method="POST">
        {% csrf_token %}
        <label>Title</label><br>
        <input type="text" name="ti" value="{{sh.title}}"><br>
        <label>Network</label><br>
        <input type="text" name="net" value="{{sh.network}}"><br>
        <label >release date</label>
        <input type="date" name="date" value="{{sh.release_date}}"><br>
        <label>description</label>
        <textarea name="desc">{{sh.desc}}</textarea>
        <input type="submit" value="update">
    </form>
    <a href="/shows">go to show</a>
</body>
</html>