<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a New Show</h1>
    <form action="/addshow" method="POST">
        {% csrf_token %}
        <label for="title">title</label><br>
        <input type="text" name="title"><br>
        <label for="network">network</label><br>
        <input type="text" name="network"><br>
        <label for="title">Release Date</label><br>
        <input type="date" name="relea"><br>
        <label for="title">description</label><br>
        <textarea name="desc" cols="40" rows="4"></textarea><br>
        <input type="submit" value="create">
        {% if messages %}
        
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
    {% endif %}
    </form>
</body>
</html>