<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex;">
    <div style="width: 600px;margin-left: 10%;">
        <h1>
            ADD a Dojo
        </h1>
        <form action="/sub" method="POST">
            {%csrf_token%}<br>
            <label>Name</label>
            <input type="text" name="name"><br><br>
            <label>city</label>
            <input type="text" name="city"><br><br>
            <label>state</label>
            <input type="text" name="state"><br><br>
            <input type="submit">
        </form>
    </div>
    <div style="width: 600px;margin-left: 10%;">
        <form action="/log" method="POST">
        {%csrf_token%}
        <h1>add a ninja</h1>
        <label>first name</label>
        <input type="text" name="first_name"><br><br>
        <label>last name</label>
        <input type="text" name="last_name"><br><br>
        <label>dojo</label>
        <select name="dojo" ><br><br>
            {%for i in x %}
            <option value="{{i.id}}">
                {{i.name}}
            </option>
        {%endfor%}
        <br>
        </select>
        <br><br><input type="submit">
        </form>
    </div>
    </div>
    <Hr>
    <div>
        <h1 style="text-align: center;">All the Dojos</h1>
        
    </div>
</body>
</html>